/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: black;
    font-size:12px;
    height:100vh;
	display: flex;
	flex-direction: column;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;

    padding:10px;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;

    color: white;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    width:100%;
}

.app {
	flex: 1;
}

h1 {
    margin-left: 10px;
    font-weight: 800;
    font-size: 30px;
}
.mid h1{
    margin-left: 10px;
    font-weight: 700;
    font-size: 25px;
}
.valider {
    display: block;
    background-color: rgba(44,44,46,255);
    width: auto;
    height: 220px;
    border-radius: 10px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
	padding-bottom: 10px;
}

.valider img {
    padding-top: 20px;
    padding-right: 18px;
    width: 190px;
    height: 85px;
}

.valider p {
	font-size: 15px;
    position: relative;
    bottom:10px;
}

.valider button {
    width: 320px;
    height: 55px;
    position: relative;
    bottom: 10px;
    font-weight: 700;
    background-color:  rgba(255,214,11,255);
    border-radius: 10px;
    border-color: rgba(255,214,11,255);
    font-size: 18px;
}

.valider button a{
	text-decoration: none;
    font-weight: 450;
    font-size: 20px;
   color: rgb(0, 68,97,55);
}

.tickets {
    display: inline-block;
    background: linear-gradient(to top, rgba(44,44,46,255) 60%, rgb(0, 68, 97) 40%);
    width: auto;
    margin-right: 8px;
    margin-left: 8px;
    height: 130px;
    border-radius: 10px;
}

.tickets img {
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 7px;
    width: 50px;
    height: 30px;
}

.tickets h4 {
    
    text-align: center;
    position: relative;
    bottom: 14px; left: 80px;
    display: inline-block;
    background-color: rgb(88, 210, 234);
    width:34px;
    height: 25px;
    font-size: 22px;
    line-height: 25px;
    border-radius: 8px;
    border-color: aqua;
}

.rules {
    font-size: 15px;
    font-family:  sans-serif;
    padding-left: 22px;
    position: relative;
    bottom: 25px;
    color: rgb(158, 158, 166);
}

.tickets .travels {
    display: inline-block;
    text-align: center;
    position: relative;
    bottom: 15px; left: 95px;
    font-size: 20px;
    font-weight: 700;
}

.footer{
    width:  100%;
    height: 130px;
	background-color: rgba(18, 18, 18, 255);
	flex-shrink: 0;
}

.footer .buy {
	display: inline-block;
	position: relative;
	left: 25px;
	width: 70px;
	height: 70px;
	text-align: center;
    /* color: rgb(158, 158, 166);*/ 
}

.footer .buy img {
	position: relative;
	top: 7px;
	height: 35px;
	width: 68px;
    color: rgba(153, 153, 153, 255);
}

/*.footer .buy p {
	font-size: 9px;
	position: relative;
	bottom: 5px;
}*/

.footer .title {
	display: inline-block;
	position: relative;
	left: 25px;
	width: 70px;
	height: 70px;
	text-align: center;
}

.footer .title img {
    position: relative;
	top: 7px;
	left: 65px;
	height: 35px;
	width: 45px;
    color: rgba(153, 153, 153, 255);
}

.footer .more {
    display: inline-block;
	position: relative;
	left: 160px;
	width: 10px;
	height: 10px;
    
	text-align: center;
}

.footer .more img{
    position: relative;
	top: 10px;
	left: 0px;
	height: 30px;
	width: 50px;
    color: rgba(153, 153, 153, 255);
}

.price{
    width: 100%;
    height: 145px;
    margin-top: 10px;
    padding: 0px;
    background-color: rgba(18, 18, 18, 255);

}
.price .solo{
    position: relative;
    top: 16px; left: 30px;

    font-size: 14px;
    font-weight: 700;
   
}
.price .p1{
    font-weight: 700;
    position: relative;
    top: 20px; left: 240px;
    font-size: 14px;
    color: rgba(84,195,217,255);

}

.price .i{
    font-weight: 700;
    position: relative;
    top: 20px; left: 253px;
    font-size: 16px;
    color: rgba(88,209,232,255)
}
.price .chevron{
    position: relative;
    top: 21px; left: 266px;
    font-size: 22px;
    color: rgba(90,90,94,255);
    font-family: 'Manrope', sans-serif;
}

.price #cercle{
    position: relative;
    left: 330px; bottom: 6px;
    border-radius:50%;
    font-size: 14px;
    width:25px;
    height:25px;
    border:1px solid #58d1e8; 
  }

.price #ligne{
    position: relative;
    top: 15px; left: 20px;
    width: 100%;
    height: 1px;
    color: blue;
    background-color: rgba(47,47,51,255);
}

.price .multi{
    position: relative;
    top: 40px; left: 30px;
    font-size: 14px;
    font-weight: 700;
}

.price .p2{
    font-weight: 700;
    position: relative;
    top: 40px; left: 137px;
    font-size: 14px;
    color: rgba(84,195,217,255);
}

.price .i2{
    font-weight: 700;
    position: relative;
    top: 40px; left: 149px;
    font-size: 16px;
    color: rgba(88,209,232,255)
}
.price #cercle2{
    position: relative;
    left: 330px; top: 16px;
    border-radius:50%;
    font-size: 14px;
    width:25px;
    height:25px;
    border:1px solid #58d1e8; 
}
.price .chevron2{
    position: relative;
    left: 360px; bottom: 14px;
    font-size: 22px;
    color: rgba(90,90,94,255);
    font-family: 'Manrope', sans-serif;
}

.control{
        display: inline-block;
        background: linear-gradient(to top, rgba(44,44,46,255) 87%, rgb(0, 68, 97) 13%);
        width: 380px;
        margin-right: 8px;
        margin-left: 8px;
        height: 400px;
        border-radius: 10px;
}

.control .travels {
    display: inline-block;
    text-align: center;
    position: relative;
    bottom: 15px; left: 95px;
    font-size: 20px;
    font-weight: 700;
}
.control img {
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 7px;
    width: 50px;
    height: 30px;
}

.control h4 {
    
    text-align: center;
    position: relative;
    bottom: 14px; left: 80px;
    display: inline-block;
    background-color: rgb(88, 210, 234);
    width:34px;
    height: 25px;
    font-size: 22px;
    line-height: 25px;
    border-radius: 8px;
    border-color: aqua;
}
.animal img{
  
    margin-left:   115px;
    margin-bottom: 18px;
    height: 188px;
    width: 188px;
}

.control .corresp{
    font-size: 13px;
    position: relative;
    left: 36px;
    color: #9d9da5;
}
.control .time{
    font-weight: 700;
    font-size: 18px;
    position: relative;
    left: 48px; bottom: 18px;
    color: #58d2ea;

}

.control #cercletime{
    float: right;
    position: relative;
    bottom: 100px; right: 40px; 
    border-radius:50%;
    font-size: 14px;
    width:80px;
    height:80px;
    border:5px solid #2aafcb; 
}

.control .time2{
    float: right;
    font-size: 25px;
    color: #2aafcb;
    position: relative;
    left: 20px; bottom: 104px;
}
.control .min{
    float: right;
    font-size: 15px;
    color: #9d9da5;
    position: relative;
    left: 50px; bottom: 67px;
}

.control .date{
    font-size: 13px;
    position: relative;
    left: 20px;
    margin-top: 30px;
    color: #9d9da5;
}
.control .date1{
    font-weight: 700;
    font-size: 16px;
    position: relative;
    left: 20px; bottom: 14px;
}

.control .timedays{
    font-size: 15px;
    float: right;
    position: relative;
    left: 70px; bottom: 77px;
    color: #9d9da5; 
}
.control .timedays1{
    font-size: 20px;
    float: right;
    position: relative;
    left: 100px; bottom: 40px;
   color: #2aafcb;
}

.control .validate{
    font-size: 14px;
    position: relative;
    left: 140px;
    color: #9d9da5; 
}
.control .timedate{
    display: inline-block;
    font-weight: 500;
    font-size: 27px;
    position: relative;
    left: 35px; bottom: 16px;

}

.control button{
    width: 344px;
    height: 55px;
   position: relative;
   left: 20px; top: 15px;
    font-weight: 700;
    background-color:  rgba(255,214,11,255);
    border-radius: 10px;
    border-color: rgba(255,214,11,255);
    font-size: 18px;
}
.control button a{
	text-decoration: none;
    font-weight: 450;
    font-size: 22px;
   color: rgb(0, 68,97,55);
}
.top{
    margin-bottom: 50px;
}
.top .chevrong{
    font-size: 20px;
    position: relative;
    left: 5px;
    font-family: 'Nanum Gothic', sans-serif;

}
.top .mtitre{
    font-size: 16px;
    position: relative;
    left: 10px;
}
.top .ccontrole{
    font-size: 16px;
    font-weight: 700;
    position: relative;
    left: 25px;
}
.top a{
    text-decoration: none;
    color: #2aafcb;
}



.rulesBis {
    font-size: 15px;
    font-family:  sans-serif;
    color: rgb(158, 158, 166);
}

.ticketValidate {
	display: inline-block;
    background: linear-gradient(to top, rgba(44,44,46,255) 75%, rgb(0, 68, 97) 25%);
    width: auto;
    margin-right: 8px;
    margin-left: 8px;
	height: auto;
    border-radius: 10px;
}

.ticketValidate img {
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 7px;
    width: 50px;
    height: 30px;
}
.ticketValidate h4 {
        text-align: center;
        position: relative;
        bottom: 14px; left: 80px;
        display: inline-block;
        background-color: rgb(88, 210, 234);
        width:34px;
        height: 25px;
        font-size: 22px;
        line-height: 25px;
        border-radius: 8px;
        border-color: aqua;
    }
.ticketValidate .travels {
    display: inline-block;
    text-align: center;
    position: relative;
    bottom: 15px; left: 95px;
    font-size: 20px;
    font-weight: 700;
}

.ticketValidate .correspondance {
	float:left;
	margin-left: 30px;
	text-align: center;
}

.ticketValidate .correspondance .limitedHour {
	color: #58d1e8;
	font-size: 20px;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

.ticketValidate .time {
	float:right;
	margin-right: 30px;
	margin-bottom: 15px;
}

.ticketValidate .time .cercleValidate {
    border-radius:50%;
    width:90px;
    height:90px;
    border:5px solid #58d1e8; 
	text-align: center;
}

.ticketValidate .time .rulesRules .limitedHour {
	color:#58d1e8;
	font-size:25px;
	font-weight: 700;
}

.ticketValidate .time .rulesRules {
	position: relative;
	top: 20px;
}

.ticketValidate button {
	width: 320px;
	height: 55px;
	font-weight: 700;
	background-color:  rgba(255,214,11,255);
	border-radius: 10px;
	border-color: rgba(255,214,11,255);
	font-size: 18px;
	margin-bottom: 10px;
	margin-left: 25px;
	margin-top: 15px;
}

.ticketValidate button a{
	text-decoration: none;
	font-weight: 450;
	font-size: 20px;
	color: rgb(0, 68,97,55);
}